In [1]:
import pandas as pd
from pathlib import Path
import random

In [2]:
root_path = "../dataset"
slr_65 = pd.read_csv(f'{root_path}/SLR65/line_index.tsv', sep="\t")
mile_files = [file for file in Path(f'{root_path}/mile_tamil_asr_corpus/test/audio_files').rglob('*.wav')]

In [3]:
# selected_files = random.sample(files,25)
# selected_transcripts = [selected_files[0].stem]
data = []
for i in mile_files:
    text = open(f'{root_path}/mile_tamil_asr_corpus/test/trans_files/{i.stem}.txt').readline().rstrip()
    data.append((i.name, text))

In [4]:
columns = ['file_name', 'transcript']
mile_df = pd.DataFrame(data, columns=columns)

In [7]:
my_slr = slr_65.sample(10)
my_mile = mile_df.sample(10)

                  file_name                                         transcript
963   taf_05572_01057191235  மறுமார்க்கத்தில் ஞாயிறு மற்றும் செவ்வாய்க்கிழம...
434   taf_09689_00734962898              சென்னையில் விட்டு விட்டு மழை பெய்யும்
783   taf_07894_00810169828  மதுவில்லா தமிழகமே வருங்கால தமிழகத்தின் உயர் வள...
1416  taf_00008_01551958093          அதிவேகமாக வெப்பமயமாகும் ஆர்க்டிக் துருவம்
157   taf_03219_01581357498  சென்ற வாரம் வெளியான குற்றம் கடிதல் சர்வதேச படவ...
1615  taf_09689_00207958642      காலிறுதியில் இங்கிலாந்தை வெளியேற்றியது இலங்கை
1422  taf_04125_00490381109  சினிமாவில் உங்கள் சம்பாத்தியம் என்னவென்று நினை...
607   taf_02042_01774473525  பல்வேறு வகையான ஹோமம் யாகங்கள் இருந்தாலும் அவற்...
1532  taf_05572_01030998534  ஜான்சன் பந்துவீச்சில் ஜான்சனிடமே கேட்ச் கொடுத்...
2172  taf_02027_00784212265  மகாத்மா காந்தி வாழ்ந்த தென்னாப்பிரிக்க வீட்டை ...

In [9]:
import shutil

src_root = f'{root_path}/SLR65'

count = 0
for i in my_slr["file_name"]:
    print(i)
    shutil.copyfile(f'{src_root}/{i}.wav', f'{root_path}/tamil-tts/{count}.wav')
    count+=1

taf_05572_01057191235
taf_09689_00734962898
taf_07894_00810169828
taf_00008_01551958093
taf_03219_01581357498
taf_09689_00207958642
taf_04125_00490381109
taf_02042_01774473525
taf_05572_01030998534
taf_02027_00784212265

In [10]:
mile_src_root = f'{root_path}/mile_tamil_asr_corpus/test/audio_files'

count = 10
for i in my_mile["file_name"]:
    print(i)
    shutil.copyfile(f'{mile_src_root}/{i}', f'{root_path}/tamil-tts/{count}.wav')
    count+=1

MILE_0000192_0000019.wav
MILE_0000386_0000093.wav
MILE_0000057_0000091.wav
MILE_0000144_0000043.wav
MILE_0000327_0000127.wav
MILE_0000396_0000084.wav
MILE_0000223_0000081.wav
MILE_0000385_0000011.wav
MILE_0000206_0000011.wav
MILE_0000306_0000034.wav

In [11]:
my_df = pd.concat([my_slr, my_mile], axis=0, ignore_index=True)

In [12]:
my_df.insert(0, 'ID', range(0, 0 + len(my_df)))

In [13]:
my_df = my_df.drop('file_name', axis=1)

In [14]:
my_df.columns = ["filename","transcript"]

In [15]:
my_df.to_csv(f'{root_path}/tamil-tts/tamil.csv')